
body {
  margin: 4em;
  background: #d0d0d0;
}

#content {
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 2em;
  background: #e0e0e0;
  font-family: sans-serif;
  font-size: 13px;
}

#logo img {
  width: 30%;
  height: 25%;
  margin-top: -2em;
}
.repl {
  background: #202020;
  color: #d0d0d0;
  margin-left: 5%;
  margin-right: 15%;
}
.repl .hl { color: #ffd700 } /* highlight */
.repl span.hl:before { content: "<<< "}
.repl span.hl:after { content: " >>>"}

p code { background: #d0d0d0 }

